/* INTERCAMBIO DE IMAGENES */
@keyframes fondo {
  20% {
    background-image: url("../img/slider/slider1.png");
    background-size: cover;
  }

  40% {
    background-image: url("../img/slider/slider2.jpg");
    background-size: cover;
  }

  60% {
    background-image: url("../img/slider/slider3.jpg");
    background-size: cover;
  }
}

@keyframes ImgC {
  20% {
    background-image: url("../img/seccion1/Circular2.png");
    background-size: cover;
  }

  100% {
    background-image: url("../img/seccion1/Circular1.png");
    background-size: cover;
  }
}

/*******ANIMACION DE BIENVENIDA A CASA ********/
@keyframes scatter {
  0% {
    top: 0;
  }

  50% {
    top: -10px;
  }

  100% {
    top: 0;
  }
}

/* ESCRIURA */


@keyframes type {
  0% {
    width: 0;
  }

  1%,
  99% {
    border-right: 1px solid orange;
  }

  100% {
    border-right: none;
  }
}

@keyframes shadow-drop-center {
  0% {
    box-shadow: 0 0 0 0 transparent
  }

  100% {
    box-shadow: 0 0 20px 0 rgba(26, 20, 20, 0.55)
  }
}

/* ANIMACION DE ESCRIURA  */
@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 8em;
  }
}

@keyframes vibrate {
  0% {
    transform: translate(0)
  }

  20% {
    transform: translate(-2px, 2px)
  }

  40% {
    transform: translate(-2px, -2px)
  }

  60% {
    transform: translate(2px, 2px)
  }

  80% {
    transform: translate(2px, -2px)
  }

  100% {
    transform: translate(0)
  }
}

@keyframes scale-up-horizontal-right {
  0% {
    transform: scaleX(.4);
    transform-origin: right center
  }

  50% {
    transform: scaleX(1);
    transform-origin: right center;
  }

  100% {
    transform: scaleX(1);
    transform-origin: right center
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent;
  }

  /* COLOR DEL ICONO DE ESCRITURA */
  50% {
    border-color: transparent;
  }
}


@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* TRANSICION de DESPLACE */

@keyframes wipe-in-up {
  from {
    clip-path: inset(100% 0 0 0);
  }

  to {
    clip-path: inset(0 0 0 0);
  }
}

[transition-style="in:wipe:up"] {
  animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-in-up both;
}

/* TRANSICION de APARECER */

@keyframes aparecer {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes scale-up-center {
  0% {
    transform: scale(.5)
  }

  100% {
    transform: scale(1)
  }
}

@keyframes rollToCenter {
  0% {
    transform: translateX(0) rotate(0deg);
  }

  100% {
    transform: translateX(calc(50% - 50%)) rotate(360deg);
  }
}

/**
 * ----------------------------------------
 * animation GIROS
 * ----------------------------------------
 */
@keyframes roll-in-right {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
    transform: translateX(800px) rotate(540deg);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes blur-in-expand {
  0% {
    transform: scale(0);
    filter: blur(12px);
    opacity: 0
  }

  100% {
    transform: scale(1);
    filter: blur(0);
    opacity: 1
  }
}

@keyframes blur-in {
  0% {
    filter: blur(12px);
    opacity: 0
  }

  100% {
    filter: blur(0);
    opacity: 1
  }
}
@keyframes tracking-in-expand-forward-bottom {
  0% {
      letter-spacing: -.2em;
      transform: translateZ(-700px) translateY(100px);
      opacity: 0
  }

  40% {
      opacity: .6
  }

  100% {
      transform: translateZ(0) translateY(0);
      opacity: 1
  }
}
@keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}