.roll-in-left {
    -webkit-animation: roll-in-left 2s ease-out 1s both;
    animation: roll-in-left 2s ease-out 1s both;
    opacity: 1;
}

.roll-in-right {
    -webkit-animation: roll-in-right 3s ease-out 1.2s both;
    animation: roll-in-right 3s ease-out 1.2s both;
    opacity: 1;
}
.roll-in-right2 {
    -webkit-animation: roll-in-right 3s ease-out 4s both;
    animation: roll-in-right 3s ease-out 4s both;
    opacity: 1;
}

.ImgC {
    animation: ImgC 15s infinite 2s ease-in;
    -webkit-animation: ImgC 15s infinite 2s ease-in;
    opacity: 1;
}

.zoomInLeft {
    -webkit-animation: zoomInLeft;
    animation: zoomInLeft 3s both 1s ease-in-out;
    opacity: 1;
}

.zoomInUp {
    -webkit-animation: zoomInUp;
    animation: zoomInUp 3s both 1.5s ease-in-out;
    opacity: 1;
}
.zoomInUp2 {
    -webkit-animation: zoomInUp;
    animation: zoomInUp 3.5s both 2.5s ease-in-out;
    opacity: 1;
}
.zoomInDown {
    -webkit-animation: zoomInDown 3s both 1.3s ease-in-out;
    animation: zoomInDown 3s both 1.3s ease-in-out;
    opacity: 1;
}
.zoomInRight {
    -webkit-animation: zoomInDown 3s both 1.3s ease-in-out;
    animation: zoomInDown 3s both 2s ease-in-out;
    opacity: 1;
}
.aparecer{
    animation: aparecer 2s forwards;
}
.hinge {
    -webkit-animation: hinge;
    animation: hinge 3s forwards;
  }