@keyframes fondo {
    20% {
        background-image: url("../img/slider/slider1.png");
        background-size: cover;
    }

    40% {
        background-image: url("../img/slider/slider2.jpg");
        background-size: cover;
    }

    60% {
        background-image: url("../img/slider/slider3.jpg");
        background-size: cover;
    }
}
/*******ANIMACION DE BIENVENIDA A CASA ********/
@function textShadow($precision, $size, $color){
    $value: null;
    $offset: 0;
    $length: $size * (1 / $precision) - 1;
  
    @for $i from 0 through $length {
      $offset: $offset + $precision;
      $shadow: $offset + px $offset + px $color;
      $value: append($value, $shadow, comma);
    }
  
    @return $value;
  }
  @keyframes scatter {
    0% {
      top: 0;
    }
    50% {
      top: -10px;
    }
    100% {
      top: 0;
    }
  }
  
/* ESCRIURA */


@keyframes type {
    0% {
        width: 0;
    }

    1%,
    99% {
        border-right: 1px solid orange;
    }

    100% {
        border-right: none;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}