/*--------------------------*/
/*--- EFECTOS RESPONSIVE ---*/
/*--------------------------*/

@media screen and (max-width:970px) {
	.Botones {
		margin-top: 21px;
		height: 100px;
		min-width: 170px;
		font-size: 30px;
		text-align: center;
		align-items: center;
		justify-content: center;
	}

	.Botones div {
		margin-top: -20px;
	}

	.Botones,
	.container .section_content,
	.container_contact .botones {
		grid-template-columns: repeat(2, 1fr);
	}

	.opcion_seis {
		height: 100em;
	}

	.opcion_seis .fondo_imag .saber_mas {
		grid-template-columns: repeat(1, 1fr);
	}

	.contain .clases {
		margin-bottom: -100px;
	}

	.contain .clases .clas_inter h3,
	.contain .clases .clas_inter p {
		width: 100%;
		margin-left: 0;
		text-align: left;
		margin-bottom: 30px;
		align-items: left;
	}
}

@media screen and (max-width:600px) {

	.Botones,
	.container .section_content,
	.container_contact .botones {
		margin: auto;
		justify-content: center;
		grid-template-columns: repeat(1, 1fr);
	}

	.opcion_seis {
		height: 85em;
	}

	.opcion_seis .saber_mas .text span h3 {
		font-size: 2.5em;
	}

	.pequeño {
		margin-top: 50px;
	}

	.boton {
		font-size: 0;
		display: flex;
		min-width: 30px;
		text-decoration: none;
	}

	.botones div a {
		text-decoration: none;
	}

	.icono {
		font-size: 40px;
		text-align: center;
		align-items: center;
		justify-content: center;
	}

	.contain .clases .img,
	.contain .pequeño .imag {
		height: 300px;
	}

}

@media (min-width: 992px) and (max-width: 1199px) {

	.section-1-box .section-1-box-icon {
		width: 60px;
		height: 60px;
		font-size: 32px;
		line-height: 60px;
	}

	.BienvenidaP {
		top: 6rem;
		left: -2rem;
		position: relative;
		size: 30vw;

	}

	.Crecemos {
		font-size: 80px;
		height: 90px;

	}

	.seccion1 {
		display: flex;
		position: relative;
		top: 0;
	}

	.Bienvenido .playful {
		font-size: 4rem;
		bottom: 12rem;
		left: 16rem;
		position: relative;
	}

	p.TextoP {
		color: #fff;
		font-family: 'teko', sans-serif;
		font-size: 3rem;
		position: relative;
		top: 1rem;
	}

	.ContMV {
		top: 39%;
		left: 12%;

	}

	.ContImgVision {
		width: 45vw;
		top: 7%;
		left: 36%;
	}

}

@media (min-width: 768px) and (max-width: 991px) {

	.section-description p {
		padding: 0;
	}

	.section-1-box .section-1-box-icon {
		width: 50px;
		height: 50px;
		font-size: 26px;
		line-height: 50px;
	}

	.section-3-box .section-3-box-icon {
		width: 50px;
		height: 50px;
		font-size: 26px;
		line-height: 50px;
	}

	.Bienvenido .playful {
		font-size: 4rem;
		bottom: 13rem;
		left: 15rem;
		position: relative;
	}

	p.TextoP {
		color: #fff;
		font-family: 'teko', sans-serif;
		font-size: 3rem;
		position: relative;
		top: 1rem;
	}

	.Crecemos {
		font-size: 4rem;
		top: 7rem;
		left: 0rem;
	}

	/* seccion 1 */
	.ContMV {
		width: 37vw;
		height: 44vh;
		top: 50%;
		left: 6%;
	}
	.ContImgVision {
		width: 45vw;
		top: 15%;
		left: 30%;
	}
}

@media (max-width: 767px) {

	.top-content {
		padding: 20px 0 100px 0;
	}

	.top-content h1 {
		font-size: 22px;
	}

	.top-content .description {
		margin: 10px 0 0 0;
	}

	.top-content a.btn {
		margin: 5px;
	}

	.section-description p {
		padding: 0;
	}

	.section-1-container {
		padding-bottom: 60px;
	}

	.section-1-box {
		text-align: center;
	}

	.section-1-box h3 {
		margin-top: 20px;
		padding-top: 10px;
	}

	.section-3-box {
		text-align: center;
	}

	.section-3-box h3 {
		margin-top: 20px;
		padding-top: 10px;
	}

	.section-5-box {
		text-align: center;
	}

	.section-6-box {
		text-align: center;
	}

	.section-6-social a {
		margin: 0 5px 10px 5px;
	}

	.section-6-form {
		margin-bottom: 30px;
		text-align: center;
	}

	.Bienvenido .playful {
		font-size: 4rem;
		bottom: 13rem;
		position: relative;
	}

	.Crecemos {
		font-size: 3rem;
		top: 4rem;
		left: 2rem;
	}

	/* SECCION 1 */
	/* CONTENEDOR DE TEXTO */
	.ContMV {
		width: 52vw;
		height: 44vh;
		top: 50%;
		left: 6%;
		overflow: auto;
	}

	.textMV {
		font-size: 0.75rem;
		text-align: left;
	}

	.textMV-V {
		font-size: 0.75rem;
		text-align: left;
		flex: 1 0 auto;
	}

	.BtnVis {
		font-size: 12px;
	}


}

@media (max-width: 575px) {

	.Crecemos {
		font-size: 3rem;
		top: 2rem;
		left: 1rem;
	}

	.dismiss {
		width: 55px;
		height: 35px;
		position: absolute;
		top: 10px;
		right: 10px;
		transition: all .3s;
		background: #444;
		border-radius: 4px;
		text-align: center;
		line-height: 35px;
		cursor: pointer;
	}

	h1,
	h2 {
		font-size: 22px;
	}

	h3 {
		font-size: 18px;
	}

	.contLogo {
		display: block;
		position: absolute;
		height: 70px;
		width: 70px;
		left: 150px;
		top: 15px;
	}

	.Bienvenido .playful {
		font-size: 3.6rem;
		bottom: 10rem;
		position: relative;
	}

}

@media screen and (max-width: 412px) {
	.contLogo {
		display: block;
		position: absolute;
		height: 70px;
		width: 70px;
		left: 150px;
		top: 15px;
	}

	.bannerPrinc {
		display: flex;
		flex-direction: column;
		padding: 20px 10px 10px 10px;
	}

	.bannerPrinc .contBackgP {
		width: 95%;
		height: 50%;
		position: initial;

	}

	.imagenCircular {
		position: initial;
	}

	.tituloimg {
		height: 8rem;
		width: 11rem;
		bottom: 3rem;
		right: 11rem;

	}

	img.ImgF {
		width: 11rem;
		right: 11rem;
		bottom: 6rem;
		height: auto;
	}

	.imagenCircular {
		bottom: 14rem;
	}

	p.TextoP {
		font-size: 23px;
		position: absolute;
		top: 1rem;
		left: 2rem;
	}

	p.SubtituloP {
		top: 3.5rem;
		position: relative;
		font-size: 1.2rem;
	}

	.Crecemos {
		font-size: 41px;
		top: 3rem;
		left: 3rem;
	}

	/* LETRAS DE BIENVENIDA EN MOVIMIENTO */
	.Bienvenido {
		position: relative;
		bottom: 0rem;
		font-family: 'teko', 'sans-serif';
	}

	.Bienvenido .playful {
		font-size: 2.6rem;
		bottom: 0rem;
		position: relative
	}

	/* SECCION 1*/
	.seccion1 {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.ContImgVision {
		flex: 0 0 auto;
		border-radius: 50%;
		border: #00ad97 solid 3px;
		width: 60VW;
		height: 30VH;
		top: 20%;
		left: 20%;
		position: absolute;
		transform: translate(-50%, -30%);
	}

	.ContMV {
		width: 15rem;
		height: 14rem;
		top: 54%;
		left: 15%;
	}

	.textMV {
		font-size: 0.75rem;
		text-align: left;
	}

	.textMV-V {
		font-size: 0.75rem;
		text-align: left;
		flex: 1 0 auto;
	}

	.BtnVis {
		font-size: 12px;
	}

}

@media (min-width: 1200px) {
	.Bienvenido .playful {
		font-size: 4rem;
		bottom: 10rem;
		left: 28rem;
		position: relative;
	}

	.bannerPrinc .contBackgP {
		size: min(width 100% 1200px);
		height: 90vh;
	}

	.Crecemos {
		font-size: 3rem;
		top: 10rem;
		left: 25rem;
	}

	/* SECCION 1 */
	.ContImgVision {
		width: 35vw;
	}

	.ContMV {
		left: 16%;
		top: 45%
	}


}