/*--------------------------*/
/*--- EFECTOS RESPONSIVE ---*/
/*--------------------------*/

@media screen and (max-width:970px) {
	.Botones {
		margin-top: 21px;
		height: 100px;
		min-width: 170px;
		font-size: 30px;
		text-align: center;
		align-items: center;
		justify-content: center;
	}

	.Botones div {
		margin-top: -20px;
	}

	.Botones,
	.container .section_content,
	.container_contact .botones {
		grid-template-columns: repeat(2, 1fr);
	}

	.opcion_seis {
		height: 100em;
	}

	.opcion_seis .fondo_imag .saber_mas {
		grid-template-columns: repeat(1, 1fr);
	}

	.contain .clases {
		margin-bottom: -100px;
	}

	.contain .clases .clas_inter h3,
	.contain .clases .clas_inter p {
		width: 100%;
		margin-left: 0;
		text-align: left;
		margin-bottom: 30px;
		align-items: left;
	}
}

@media screen and (max-width:600px) {

	.Botones,
	.container .section_content,
	.container_contact .botones {
		margin: auto;
		justify-content: center;
		grid-template-columns: repeat(1, 1fr);
	}
	.bienvenidos {
        font-size: 3em;/* Adapta tus estilos aquí para móviles */
    }

	.opcion_seis {
		height: 85em;
	}

	.opcion_seis .saber_mas .text span h3 {
		font-size: 2.5em;
	}

	.pequeño {
		margin-top: 50px;
	}

	.boton {
		font-size: 0;
		display: flex;
		min-width: 30px;
		text-decoration: none;
	}

	.botones div a {
		text-decoration: none;
	}

	.icono {
		font-size: 40px;
		text-align: center;
		align-items: center;
		justify-content: center;
	}

	.contain .clases .img,
	.contain .pequeño .imag {
		height: 300px;
	}

	#Final {
		justify-content: flex-start;
	}

	.Final {
		justify-content: flex-start;
		/* Los contenedores se visualizan en vertical */
		flex-direction: column;
		max-height: 100%;
	}

	.Final>div,
	.Foot {
		margin-bottom: -3px;

		/* Cubren el elemento #Final en su totalidad sin salirse */
		width: 100%;
		box-sizing: border-box;
		/* Asegura que el padding y el borde no se añadan al ancho total */
		align-items: center;
	}

	.Final,
	.Foot {
		position: initial;
		/* La letra es adaptable al tamaño de los contenedores */
		font-size: calc(3px + 2vmin);
		/* Ajusta esto según sea necesario */
	}

	.FootNav ul {
		margin-bottom: 0rem;

	}

	.Final h2 {
		font-weight: bold;
		font-size: 180%;
		color: #221f36
	}

	.Ubicación ul li a,
	.LinkR ul li a,
	.LinkP ul li a {
		border-bottom: none;
		color: #221f36;
	}

	.FinalUl {
		margin-bottom: 0.2rem;
	}

	.Noved {
		margin-bottom: 2px;
		margin-left: 1rem;
		width: 70%;
	}

	.messageBox {
		width: fit-content;
		height: 37px;
	}
	.Ubicación ul li,
	.LinkR ul li,
	.LinkP ul li {

		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.parent {
		width: 100%;
		height: 100%;
		display: flex;
		position: initial;
		justify-content: center;
		align-items: center;
	  }
	  .parent i {
		font-size: 23px; /* Cambia esto al tamaño que desees */
	}


}

@media (min-width: 992px) and (max-width: 1199px) {

	.section-1-box .section-1-box-icon {
		width: 60px;
		height: 60px;
		font-size: 32px;
		line-height: 60px;
	}

	.BienvenidaP {
		position: absolute;
	}

	.seccion1 {
		display: flex;
		position: relative;
		top: 0;
	}

	p.TextoP {
		color: #fff;
		font-family: 'teko', sans-serif;
		font-size: 2.8rem;
	}

	.ContMV {
		top: 39%;
		left: 12%;

	}

	.ContImgVision {
		width: 60vh;
	}

}

@media (min-width: 768px) and (max-width: 990px) {

	.section-description p {
		padding: 0;
	}

	.section-1-box .section-1-box-icon {
		width: 50px;
		height: 50px;
		font-size: 26px;
		line-height: 50px;
	}

	.section-3-box .section-3-box-icon {
		width: 50px;
		height: 50px;
		font-size: 26px;
		line-height: 50px;
	}

	.Bienvenido .playful {
		font-size: 4rem;
		bottom: 13rem;
		left: 15rem;
		position: relative;
	}

	p.TextoP {
		color: #fff;
		font-family: 'teko', sans-serif;
		font-size: 3rem;
		position: relative;
		top: 1rem;
	}

	.Crecemos {
		font-size: 4rem;
		top: 7rem;
		left: 0rem;
	}

	/* seccion 1 */
	.ContMV {
		width: 37vw;
		height: 44vh;
		top: 50%;
		left: 6%;
	}

	.ContImgVision {
		width: 60vh;
		top: 15%;
		left: 30%;
	}
}


/* RESOLUCION DISPOSITIVOS MOVILES */
@media (max-width: 767px) {
}
	/* BANER PRINCIPAL */
@media (max-width: 768px) {
		.containerB {
			flex-direction: column;
		}

		.logoB {
			width: 50px;
			height: 50px;
		}

		.titleB {
			font-size: 24px;
		}

		.subtitleB {
			font-size: 16px;
		}

		.buttonB {
			width: 150px;
			height: 45px;
			font-size: 16px;
		}

		.iconsB {
			flex-direction: row;
			justify-content: space-around;
			gap: 3rem;
		}

		.iconB {
			width: 100px;
			height: 100px;
		}

		.iconB-label {
			font-size: 16px;
		}

		.button1,
		.button2 {
			padding: 5px 12px;
			font-size: 14px;
		}
	.top-content {
		padding: 20px 0 100px 0;
	}

	.top-content h1 {
		font-size: 22px;
	}

	.top-content .description {
		margin: 10px 0 0 0;
	}

	.top-content a.btn {
		margin: 5px;
	}

	.section-description p {
		padding: 0;
	}

	.section-1-container {
		padding-bottom: 60px;
	}

	.section-1-box {
		text-align: center;
	}

	.section-1-box h3 {
		margin-top: 20px;
		padding-top: 10px;
	}

	.section-3-box {
		text-align: center;
	}

	.section-3-box h3 {
		margin-top: 20px;
		padding-top: 10px;
	}

	.section-5-box {
		text-align: center;
	}

	.section-6-box {
		text-align: center;
	}

	.section-6-social a {
		margin: 0 5px 10px 5px;
	}

	.section-6-form {
		margin-bottom: 30px;
		text-align: center;
	}

	.Bienvenido .playful {
		font-size: 4rem;
		bottom: 13rem;
		position: relative;
	}

	.Crecemos {
		font-size: 3rem;
		top: 4rem;
		left: 2rem;
	}

	/* SECCION 1 */
	/* CONTENEDOR DE TEXTO */
	.ContMV {
		width: 44vh;
		height: 44vh;
		top: 50%;
		left: 6%;
		overflow: auto;
	}

	.textMV {
		font-size: 0.75rem;
		text-align: left;
	}

	.textMV-V {
		font-size: 0.75rem;
		text-align: left;
		flex: 1 0 auto;
	}

	.BtnVis {
		font-size: 12px;
	}

	/* SECCION 2 */
	.flexS2 {
		display: grid;
		grid-template-columns: 1.5fr 0.5fr;
		grid-template-rows: 1fr;
		grid-auto-columns: 1fr;
		grid-auto-rows: 1fr;
		gap: 5px 0px;
		grid-auto-flow: row;
		grid-template-areas:
			"ContS2 ContDonacion";
	}

	.ContDonacion {
		grid-area: ContDonacion;
	}

	.ContS2 {
		display: grid;
		grid-template-columns: 1fr 1.4fr;
		grid-template-rows: 1.1fr 1fr;
		gap: 2% 2%;
		grid-auto-flow: row;
		grid-template-areas:
			"Cont1 Cont2"
			"Cont3 ContText";
		grid-area: ContS2;
	}

	.Cont1 {
		grid-area: Cont1;
		width: 50%;
		height: 100%;
		position: initial;
		top: 0px;
	}

	.Cont2 {
		grid-area: Cont2;
		width: 100%;
		height: 120%;
		position: initial;
		top: 0px;
	}

	.Cont3 {
		grid-area: Cont3;
		width: 100%;
		height: 100%;
		position: initial;
		top: 0px;
	}

	.ContText {
		grid-area: ContText;
		width: 100%;
		height: 80%;
		/* position: initial; */
		top: 20%;
	}

	.TextS2 {
		height: 80%;
	}

	.TextS2 p {
		width: 100%;
		height: 100%;
		overflow: auto;
		margin: 0%;
	}

	.CBtnS2 {
		margin-top: 0.5rem;
		position: relative;
		top: 0rem;
	}

	.Dcard {
		width: 35vw;
		height: 26vh;
	}

	.Dcard:hover {
		height: 40vh;
	}
}

@media (max-width: 575px) {

	.dismiss {
		width: 55px;
		height: 35px;
		position: absolute;
		top: 10px;
		right: 10px;
		transition: all .3s;
		background: #444;
		border-radius: 4px;
		text-align: center;
		line-height: 35px;
		cursor: pointer;
	}

	h1,
	h2 {
		font-size: 22px;
	}

	h3 {
		font-size: 18px;
	}

	.contLogo {
		display: block;
		position: absolute;
		height: 70px;
		width: 70px;
		left: 150px;
		top: 15px;
	}

	.Bienvenida {
		height: 17%;
		width: 100%;
		display: inline-flex;
		align-items: center;
		padding: 0px;
		position: absolute;
		top: 50%;
		left: 0%
	}

	.BienB {

		color: #00ad97;
		margin: 0px;
		font-size: 15vw;
		animation: lightSpeedIn 3s forwards;
		font-family: sans-serif;
	}

	.BienB:active {

		color: #00ad97;
		margin: 0px;
		font-size: 12vw;
		animation: lightSpeedIn 3s forwards;
		font-family: sans-serif;
	}

}

@media screen and (max-width: 412px) {
	.contLogo {
		display: block;
		position: absolute;
		height: 70px;
		width: 70px;
		left: 150px;
		top: 15px;
	}

	.bannerPrinc {
		display: flex;
		flex-direction: column;
		padding: 20px 10px 10px 10px;
	}

	.BienvenidaP {
		position: initial;
		width: 100%;
		height: 30%;
	}

	.bannerPrinc .contBackgP {
		width: 95%;
		height: 50%;
		position: initial;

	}

	.imagenCircular {
		position: initial;
	}

	.tituloimg {
		height: 20%;
		width: 50%;
		bottom: 51%;
		right: 25%;

	}

	img.ImgF {
		width: 11rem;
		right: 25%;
		bottom: 44%;
		height: auto;
		position: absolute;
	}

	.imagenCircular {
		height: 40%;
		display: flex;
		position: relative;
		flex-direction: column;
	}

	p.TextoP {
		font-size: 23px;
		position: absolute;
		top: 1rem;
		left: 2rem;
	}

	p.SubtituloP {
		top: 3.5rem;
		position: relative;
		font-size: 1.2rem;
	}
	/* SECCION 1*/
	.seccion1 {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.ContImgVision {
		flex: 0 0 auto;
		border-radius: 50%;
		border: #00ad97 solid 3px;
		width: 30vh;
		height: 30VH;
		top: 20%;
		left: 20%;
		position: absolute;
		transform: translate(-50%, -30%);
	}

	.ContMV {
		width: 15rem;
		height: 14rem;
		top: 54%;
		left: 15%;
	}
	.ContMV:active {
		width: 16rem;
		height: 16rem;
		top: 54%;
		left: 15%;
	}

	.textMV {
		font-size: 0.75rem;
		text-align: left;
	}

	.textMV-V {
		font-size: 0.75rem;
		text-align: left;
		flex: 1 0 auto;
	}

	.BtnVis {
		font-size: 12px;
	}

	.flexS2 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1em;
		width: 100%;
		position: initial;
		height: 100%;
	}

	.ContS2 {
		width: 90%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1em;
		/* Ajusta este valor según tus necesidades */
		flex: 0.8;
		/* 80% del tamaño total */
		border-radius: 10px;
		/* Bordes redondeados */
	}

	.ContDonacion {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 0.2;
		/* 20% del tamaño total */
		border-radius: 10px;
		/* Bordes redondeados */
	}

	.Dcard {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		position: inherit;
	}

	.Cont1 {
		border-radius: 50%;

		/* Forma circular */
	}

	.Cont2,
	.Cont3,
	.ContText {
		border-radius: 10px;
		/* Bordes redondeados */
		width: 100%;
		height: 100%;
		position: initial;
	}


}

/* PANTALLA COMPLETA */
@media (min-width: 1200px) {

	/* BANER PRINCIPAL */
	.logoB {
		right: 15%;
		top: 8%
	}

	/* ----------------------- */
	/* SECCION 1 */
	.ContImgVision {
		width: 60vh;
		left: 38%
	}

	.ContMV {
		left: 22%;
		top: 8%;
		height: 20rem;
	}


	/* SECCION 2 */

	.flexS2 {
		display: grid;
		grid-template-columns: 1.5fr 0.5fr;
		grid-template-rows: 1fr;
		grid-auto-columns: 1fr;
		grid-auto-rows: 1fr;
		gap: 5px 0px;
		grid-auto-flow: row;
		grid-template-areas:
			"ContS2 ContDonacion";
	}

	.ContDonacion {
		grid-area: ContDonacion;
	}

	.ContS2 {
		display: grid;
		grid-template-columns: 1fr 1.4fr;
		grid-template-rows: 1.1fr 1fr;
		gap: 2% 2%;
		grid-auto-flow: row;
		grid-template-areas:
			"Cont1 Cont2"
			"Cont3 ContText";
		grid-area: ContS2;
	}

	.Cont1 {
		grid-area: Cont1;
		width: 100%;
		height: 100%;
		position: initial;
		top: 0px;
	}

	.Cont2 {
		grid-area: Cont2;
		width: 100%;
		height: 120%;
		position: initial;
		top: 0px;
	}

	.Cont3 {
		grid-area: Cont3;
		width: 100%;
		height: 100%;
		position: initial;
		top: 0px;
	}

	.ContText {
		grid-area: ContText;
		width: 100%;
		height: 80%;
		/* position: initial; */
		top: 20%;
	}

	.TextS2 {
		height: 80%;
	}

	.TextS2 p {
		width: 100%;
		height: 100%;
		overflow: auto;
		margin: 0%;
	}

	.CBtnS2 {
		position: relative;
		top: -2rem;
	}

	.Dcard {
		width: 35vw;
		height: 26vh;
	}

	.Dcard:hover {
		height: 40vh;
	}

	.Final h2 {
		font-weight: bold;
		font-size: 150%;
		/* Títulos en negrita */
	}
	.ContText {
				top: 30%;
	  
	  }
}