/*--------------------------*/
/*--- EFECTOS RESPONSIVE ---*/
/*--------------------------*/

@media screen and (max-width:970px) {
	.Botones {
		margin-top: 21px;
		height: 100px;
		min-width: 170px;
		font-size: 30px;
		text-align: center;
		align-items: center;
		justify-content: center;
	}

	.Botones div {
		margin-top: -20px;
	}

	.Botones,
	.container .section_content,
	.container_contact .botones {
		grid-template-columns: repeat(2, 1fr);
	}

	.opcion_seis {
		height: 100em;
	}

	.opcion_seis .fondo_imag .saber_mas {
		grid-template-columns: repeat(1, 1fr);
	}

	.contain .clases {
		margin-bottom: -100px;
	}

	.contain .clases .clas_inter h3,
	.contain .clases .clas_inter p {
		width: 100%;
		margin-left: 0;
		text-align: left;
		margin-bottom: 30px;
		align-items: left;
	}
}

@media screen and (max-width:600px) {

	.Botones,
	.container .section_content,
	.container_contact .botones {
		margin: auto;
		justify-content: center;
		grid-template-columns: repeat(1, 1fr);
	}

	.opcion_seis {
		height: 85em;
	}

	.opcion_seis .saber_mas .text span h3 {
		font-size: 2.5em;
	}

	.pequeño {
		margin-top: 50px;
	}

	.boton {
		font-size: 0;
		display: flex;
		min-width: 30px;
		text-decoration: none;
	}

	.botones div a {
		text-decoration: none;
	}

	.icono {
		font-size: 40px;
		text-align: center;
		align-items: center;
		justify-content: center;
	}

	.contain .clases .img,
	.contain .pequeño .imag {
		height: 300px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {

	.section-1-box .section-1-box-icon {
		width: 60px;
		height: 60px;
		font-size: 32px;
		line-height: 60px;
	}

}

@media (min-width: 768px) and (max-width: 991px) {

	.section-description p {
		padding: 0;
	}

	.section-1-box .section-1-box-icon {
		width: 50px;
		height: 50px;
		font-size: 26px;
		line-height: 50px;
	}

	.section-3-box .section-3-box-icon {
		width: 50px;
		height: 50px;
		font-size: 26px;
		line-height: 50px;
	}

}

@media (max-width: 767px) {

	.top-content {
		padding: 20px 0 100px 0;
	}

	.top-content h1 {
		font-size: 22px;
	}

	.top-content .description {
		margin: 10px 0 0 0;
	}

	.top-content a.btn {
		margin: 5px;
	}

	.section-description p {
		padding: 0;
	}

	.section-1-container {
		padding-bottom: 60px;
	}

	.section-1-box {
		text-align: center;
	}

	.section-1-box h3 {
		margin-top: 20px;
		padding-top: 10px;
	}

	.section-3-box {
		text-align: center;
	}

	.section-3-box h3 {
		margin-top: 20px;
		padding-top: 10px;
	}

	.section-5-box {
		text-align: center;
	}

	.section-6-box {
		text-align: center;
	}

	.section-6-social a {
		margin: 0 5px 10px 5px;
	}

	.section-6-form {
		margin-bottom: 30px;
		text-align: center;
	}

}

@media (max-width: 575px) {

	.Crecemos {
		font-size: 40px;
		top: -2rem;
		left: 1rem;
	}

	.dismiss {
		width: 55px;
		height: 35px;
		position: absolute;
		top: 10px;
		right: 10px;
		transition: all .3s;
		background: #444;
		border-radius: 4px;
		text-align: center;
		line-height: 35px;
		cursor: pointer;
	}

	h1,
	h2 {
		font-size: 22px;
	}

	h3 {
		font-size: 18px;
	}

	.contLogo {
		display: block;
		position: absolute;
		height: 70px;
		width: 70px;
		left: 150px;
		top: 15px;
	}

}

@media screen and (max-width: 412px) {
	.contLogo {
		display: block;
		position: absolute;
		height: 70px;
		width: 70px;
		left: 150px;
		top: 15px;
	}

	.bannerPrinc .contBackgP {
		width: 95%;
		height: 50%;
	}

	.tituloimg {
		height: 130%;
		width: 8rem;
		font-size: 20px;
		bottom: 0;


	}

	img.ImgF {
		bottom: 2rem;
		width: 10rem;
		height: auto;
	}

	p.TextoP {
		font-size: 27px;
		position: absolute;
		top: -29px;
		left: 30px;
	}

	p.SubtituloP {
		top: 3.5rem;
		position: relative;
		font-size: 14px;
	}

	.Crecemos {
		font-size: 40px;
		top: 1rem;
		left: 1rem;
	}

	/* LETRAS DE BIENVENIDA EN MOVIMIENTO */
	.Bienvenido {
		position: relative;
		bottom: 8.4rem;
		font-family: 'teko', 'sans-serif';
	}

	.Bienvenido .playful {
		font-size: 50px;
	}
}

@media (min-width: 1200px) {
	.BienvenidaP{
		top: 10rem;
    left: -2rem;
    position: relative;
	}
	.Crecemos {
		font-size: 80px;
		height: 90px;
		
	}

}