.seccion3 {
  size: min(width 100% 950px);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  opacity: 0;
}

/* +++++++++++++++++++++++++++++++++++++++++ */
/* TEXTO DE TITULOS Y SUBTITULOS */
/* +++++++++++++++++++++++++++++++++++++++++ */
.texto1 {
  color: rgb(191, 191, 38);
  font-size: 20px;
  margin-top: 2%;
  font-weight: 600;
  animation-delay: 1.5s;
  opacity: 0;

}

.texto1:hover {
  animation: vibrate 2s infinite;
  font-size: 24px;
  transition: 1s all;
}

.textogrande {
  color: black;
  font-size: 35px;
  font-weight: 900;
  animation-delay: 3s;
  opacity: 0;
}
.textogrande:hover {
  animation: vibrate 2s infinite;
  font-size: 38px;
  transition: 1s all;
}

.texto2 {
  font-size: 20px;
  color: #1c1616;
  animation-delay: 3s;
  opacity: 0;
}
.texto2:hover {
  animation: vibrate 2s infinite;
  font-size: 24px;
  transition: 1s all;
}


/* +++++++++++++++++++++++++++++++++++++++++ */
/* ESTILOS DEL CARRUSEL DE IMAGENES */
/* +++++++++++++++++++++++++++++++++++++++++ */
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

.carrusel {
  position: relative;
  display: flex;
  width: 100%;
  height: 70%;
  align-items: center;
  justify-content: center;
  font-family: "DM Sans", sans-serif;
  transition: background 0.4s ease-in;
}

.carrusel.blue {
  background-color: #428aa6;
}

input[type=radio] {
  display: none;
}

.cardC {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.containerC {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cards {
  position: relative;
  width: 100%;
  height: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.cards img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
  object-fit: cover;
}

#item-1:checked~.cards #song-3,
#item-2:checked~.cards #song-1,
#item-3:checked~.cards #song-2 {
  transform: translatex(-40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked~.cards #song-2,
#item-2:checked~.cards #song-3,
#item-3:checked~.cards #song-1 {
  transform: translatex(40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked~.cards #song-1,
#item-2:checked~.cards #song-2,
#item-3:checked~.cards #song-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

#item-1:checked~.cards #song-1 img,
#item-2:checked~.cards #song-2 img,
#item-3:checked~.cards #song-3 img {
  box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}

.player {
  background-color: #1c1616;
  border-radius: 8px;
  min-width: 360px;
  height: 20%;
  padding: 10px 10px;
}

.upper-part {
  position: relative;
  display: flex;
  align-items: center;
  /* margin-bottom: 20px; */
  /* margin-top: 0px; */
  height: 84%;
  overflow: hidden;
}

.play-icon {
  margin-right: 0rem;
  font-size: 2rem;
  color: var(--primary-color);
  margin-left: 1rem;
}

.song-info {
  width: calc(100% - 32px);
  display: block;
}

.song-info .titleC {
  color: var(--secondary-color);
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

.sub-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.subtitle,
.time {
  font-size: 1rem;
  line-height: 16px;
  color: #c6c5c6;
}

.time {
  font-size: 1rem;
  line-height: 16px;
  color: #a5a5a5;
  font-weight: 500;
  margin-left: auto;
}

.progress-bar {
  height: 3px;
  width: 100%;
  background-color: #e9efff;
  border-radius: 2px;
  overflow: hidden;
}

.progress {
  display: block;
  position: relative;
  width: 60%;
  height: 100%;
  background-color: #2992dc;
  border-radius: 6px;
}

.info-area {
  width: 85%;
  position: absolute;
  top: 0;
  left: 4em;
  transition: transform 0.4s ease-in;
}

#item-2:checked~.player #test {
  transform: translateY(0);
}

#item-2:checked~.player #test {
  transform: translateY(-40px);
}

#item-3:checked~.player #test {
  transform: translateY(-80px);
}